* {
  box-sizing: border-box;
  font-size: 1.6rem;
}

html {
  width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
  scrollbar-width: thin;
}

body {
  background-color: $colour-offwhite;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max--width--small {
  width: 100%;
  max-width: $max-width-small;
  margin: 0 auto;
  padding: 0 3rem;

  @include small {
    padding: 0 1rem;
  }
}

.max--width--full {
  width: 100%;
  max-width: $max-width-full;
}