.modal {
  position: absolute;
  top: 80%;
  right: 0;
  z-index: 2;
  padding: 3rem 6rem;
  background-color: $colour-white;
  border-radius: $primary-border-radius;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);

  @include small {
    top: 100%;
    width: 100%;
    max-height: 50rem;
    padding: 4rem 2rem;
    overflow: auto;
  }

  h2 {
    margin: 0 0 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $colour-light-gray;
  }

  .button {
    margin-top: 2rem;
  }
}