.table {
  &__container {
    margin: 0 auto;
  }

  &__wrapper {
    width: 100%;
    overflow: auto;
    cursor: grab;
    user-select: none;
    scrollbar-width: thin;

    &:active {
      cursor: grabbing;
    }
  }
}

table {
  border-collapse: collapse;

  thead {
    tr {
      border-bottom: 1px solid $colour-light-gray;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $colour-light-gray;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: $colour-offwhite;
      }

      &:first-of-type {
        td {
          padding-top: 3rem;
        }
      }
    }
  }

  th,
  td {
    padding: 2rem;
    text-align: center;
    white-space: nowrap;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      color: $colour-light-gray;
      transition: all .2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $colour-black;
      }

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }

    input {
      padding: 1rem;
      border: 1px solid $colour-light-gray;
      border-radius: $primary-border-radius;
      outline: none;

      &::placeholder {
        color: $colour-light-gray;
      }
    }
  }
}